<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <img class="imagine-logo" src="https://res.cloudinary.com/sup/image/upload/v1605001395/cmehtykmg8cm28bzfp3b.png" alt="K3 Imagine Logo"/>
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          <h2 id="project_tagline">Release Notes</h2>
          <!-- Trigger/Open The Modal -->
          <button id="subscribeBtn">Subscribe to Release Notifications</button>

          <!-- The Modal -->
          <div id="subscribeModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <iframe class="modal-iframe" src="https://cdn.forms-content.sg-form.com/c4066a99-dba3-11e9-8f89-f2255f3c063e" ></iframe>
            </div>

          </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script>
      // Get the modal
      var modal = document.getElementById("subscribeModal");

      // Get the button that opens the modal
      var btn = document.getElementById("subscribeBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
  </body>
</html>
